<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!-- 根元素mapper,属性namespace的值是mapper接口的全名 -->
<mapper namespace="tarena.com.dao.UserMapper">
	<select id="findByName" parameterType="string" resultType="tarena.com.entity.User">
		<!-- 如果方法传入的参数只有一个值.在#{}中引用这个参数的话,写什么名称都是可以的 -->
		select * from cn_user where cn_user_name=#{username}
	</select>


	<insert id="save" parameterType="tarena.com.entity.User">
	
	insert into cn_user
	 values(#{cn_user_id},#{cn_user_name},#{cn_user_password},#{cn_user_token},#{cn_user_desc});
	</insert>
	
	
	<update id="updatapassword" parameterType="tarena.com.entity.User">
		update cn_user set cn_user_password=#{cn_user_password},cn_user_token=#{cn_user_token} where cn_user_name=#{cn_user_name};
	
	</update>
</mapper>